@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway:wght@400;600;700;900&display=swap');

/*Variables*/
:root{
    --font-family: "Audiowide", cursive;
    --font-family-2: "Raleway", sans-serif;
    --normal-font: 440;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-color: rgb(207, 207, 199);
    --secondary-color: rgb(151, 146, 139);
    --line-height: normal;
    --transition: 0.3s;
}
/*variables end*/

html{
    scroll-behavior: smooth;
}
/*html end*/

/*CSS reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    font-family: var(--font-family-2);
    background-image: linear-gradient(rgba(207,207,199,0),
	rgba(207,207,199,0.3)), url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
/*CCS reset end*/

.header{
    text-align: center;
    border: 0.125rem solid gray;
    border-radius: 0.75rem;
    padding: 1.25rem;
    background-color: rgba(207, 207, 199, 0.1);
    margin: 0.625rem;
}
/*header design end*/

.os{
    font-size: 38pt;
    font-family: var(--font-family);
}
/*os design end*/

.header_text{
    padding-top: 3.125rem;
    text-align: center;
    font-size: 16pt;
    font-family: var(--font-family-2);
}
/*header text design end*/

.info{
    text-align: center;
    margin-left: 28.75rem;
    margin-right: 28.75rem;
    font-family: var(--font-family-2);
}
/*info design end*/

p{
    margin-top: 10px;
}
/*p design end*/

.fundamentals{
    margin-top: 6.25rem;
    display: flex;
}
/*fundamentals design end*/

.dashboard1{
    margin-left: 480px;
}

.fund-info{
    margin-left: 10px;
}
/*fund info design end*/

h2{
    font-family: var(--font-family);
    font-size: 22pt;
}
/*h2 design end*/

.intro{
    font-family: var(--font-family-2);
}
/*intro design end*/

strong{
    font-family: var(--font-family);
}
/*strong desing end*/

.text1{
    font-family: var(--font-family-2);
    margin-right: 580px;
    text-align: justify;
}
/*text 1 design end*/

.list1{
    margin-top: 10px;
    margin-left: 40px;
    text-align: justify;
    margin-right: 580px;
}
/*list 1 design end*/

.cpu{
    margin-top: 2.5rem;
    display: flex;
}
/*cpu design end*/

.cpu, .dashboard2{
    margin-top: 13.125rem;
}
/*cpu dashboard 2 design end*/

.central{
    margin-left: 10px;
}
/*central design end*/

.text2{
    font-family: var(--font-family-2);
    margin-right: 36.25rem;
    text-align: justify;
}
/*text 2 design end*/

.list2{
    margin-top: 10px;
    margin-left: 40px;
    text-align: justify;
    margin-right: 580px;
}
/*list 2 desing end*/

.cloud{
    margin-top: 2.5rem;
    display: flex;
}
/*cloud design end*/

.cloud, .dashboard3{
    margin-top: 16.875rem;
}
/*cloud dashboard 3 design end*/

.computing{
    margin-left: 10px;
}
/*computing desing end*/

.text3{
    font-family: var(--font-family-2);
    margin-right: 36.25rem;
    text-align: justify;
}
/*text 3 design end*/

.list3{
    margin-top: 10px;
    margin-left: 40px;
}
/*services design end*/

.network{
    margin-top: 6.25rem;
    display: flex;
}
/*network design end*/

.network, .dashboard4{
    margin-top: 11.25rem;
}
/*network dashboard 4 design end*/

.connections{
    margin-left: 10px;
}
/*connections desgin end*/

.text4{
    font-family: var(--font-family-2);
    margin-right: 36.25rem;
    text-align: justify;
}
/*text 4 design end*/

.list4{
    margin-top: 10px;
    margin-left: 40px;
    text-align: justify;
    margin-right: 580px;
}
/*list 4 design end*/

.click{
    margin-top: 80px;
    text-align: center;
}
/*click design end*/

.button{
    background-color: rgba(207, 207, 199, 0.1);
    border: 0.125rem solid gray;
    font-family: var(--font-family);
    border-radius: 5px;
    font-size: 18pt;
}
/*button design end*/

.button:hover{
    box-shadow: 0 10px 14px rgba(151, 146, 139, 0.1);
}

.dashboard1{
    width: 400px;
    background-color: var(--secondary-color);
    padding: 20px 20px 0 20px;
    position: absolute;
    left: -92px;
    z-index: 100;
    border-radius: 0 12px 12px 0;
}
/*dashboards design end*/

.dashboard2{
    width: 400px;
    background-color: var(--secondary-color);
    padding: 10px 20px 0 20px;
    position: absolute;
    left: -92px;
    z-index: 100;
    border-radius: 0 12px 12px 0;
}
/*dashboard 2 design end*/

.dashboard3{
    width: 400px;
    background-color: var(--secondary-color);
    padding: 10px 20px 0 20px;
    position: absolute;
    right: -92px;
    z-index: 100;
    border-radius: 0 12px 12px 0;
}
/*dashboard 3 design end*/

.dashboard4{
    width: 400px;
    background-color: var(--secondary-color);
    padding: 10px 20px 0 20px;
    position: absolute;
    right: -92px;
    z-index: 100;
    border-radius: 0 12px 12px 0;
}
/*dashboard 4 design end*/

img{
    margin-bottom: 0.625rem;
    border: 2px solid var(--secondary-color);
}
/*img design end*/