@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway:wght@400;600;700;900&display=swap');

/*Variables*/
:root{
    --font-family: "Audiowide", cursive;
    --font-family-2: "Raleway", sans-serif;
    --normal-font: 440;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-color: rgb(207, 207, 199);
    --secondary-color: rgb(151, 146, 139);
    --line-height: normal;
    --transition: 0.3s;
}
/*variables end*/

html{
    scroll-behavior: smooth;
}
/*html end*/

/*CSS reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    font-family: var(--font-family-2);
    background-image: linear-gradient(rgba(207,207,199,0),
	rgba(207,207,199,0.3)), url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
/*CCS reset end*/

.header{
    text-align: center;
    border: 0.125rem solid gray;
    border-radius: 0.75rem;
    padding: 1.25rem;
    background-color: rgba(207, 207, 199, 0.1);
}
/*header design end*/

.os{
    font-size: 38pt;
    font-family: var(--font-family);
}
/*os design end*/

.header_text{
    padding-top: 3.125rem;
    text-align: center;
    font-size: 16pt;
    font-family: var(--font-family-2);
}
/*header text design end*/

.info{
    text-align: center;
    margin-left: 28.75rem;
    margin-right: 28.75rem;
    font-family: var(--font-family-2);
}
/*info design end*/

.fundamentals{
    margin-top: 7.5rem;
    display: flex;
    max-width: fit-content;
}
/*fundamentals design end*/

.fund-info{
    margin-left: 10px;
}
/*fund info design end*/

h2{
    font-family: var(--font-family);
    font-size: 22pt;
}
/*h2 design end*/

.intro{
    font-family: var(--font-family-2);
}
/*intro design end*/

p{
    font-family: var(--font-family-2);
    width: 20rem;
}


.dashboard1{
    width: 400px;
    background-color: var(--secondary-color);
    padding: 20px 20px 0 20px;
    position: absolute;
    right: -380px;
    z-index: 100;
    border-radius: 12px 0 0 12px;
}

img{
    margin-bottom: 20px;
    border: 2px solid var(--secondary-color);
}
