@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/*Variables*/
:root{
	--font-family: "Roboto", sans-serf;
	--normal-font: 440;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: rgb(38, 74, 119);
	--primary-color: rgb(148, 162, 97);
	--secondary-color: rgb(121, 117, 114);
	--tertiary-color: rgb(239, 216, 181);
	--primary-shadow: rgb(148, 162, 97);
	--secondary-shadow: rgb(121, 117, 114);
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}
/*End of my variables.*/

html{
	scroll-behavior: smooth;
}
/*html end.*/

/*CSS reset.*/
#portfolio * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: var(--secondary-color);
}

a:hover{
	color: var(--primary-color);
}

body{
	font-family: var(--font-family);
	background-color: rgb(38, 74, 119);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
/*CSS reset end*/

nav{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 3.5rem;
	background-color: rgba(121, 117, 114, 0.1);
	box-shadow: 0 3px 5px rgba(121, 117, 114, 0.1);
}
/*Navigation end.*/

h1{
	color: var(--primary-color);
	font-weight: var(--normal-font);
}
/*h1 design end*/

.logo{
	border-radius: 20px 10px;
	border: 2px solid var(--primary-color);
	font-size: 24pt;
	padding: 4px 8px;
	margin: 20px;
}
/*logo design end*/

.logo:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.5);
	background-color: rgba(121, 117, 114, 0.5);
	cursor: pointer;
}
/*logo hover design end*/

.letter{
	padding: 5px;
	color: var(--primary-color);
}
/*letter design end*/

.nav_numbers{
	color: var(--primary-color);
}
/*navigation number end*/

nav ul{
	display: flex;
	gap: 1.9rem;
}
/*navigation ul end*/

.nav_numbers ul li{
	font-weight: var(--bold-font);
}
/*navigation numbers end*/

.description{
	color: var(--secondary-color);
}
/*description class end*/

.description:hover{
	color: rgb(148, 162, 97);
	border-bottom: 2px solid var(--secondary-color);
}
/*description hover end*/

.res{
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	text-decoration: none;
	color: var(--primary-shadow);
	text-align: center;
	font-size: 14pt;
	padding: 5px 20px;
}
/*resume design end*/

.res:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.5);
	background-color: rgba(121, 117, 114, 0.5);
}
/*resume design hover end*/

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}/*End of clear fix.*/
/*-----------------------------------------------------*/

.intro-words{
	padding-top: 8.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	max-width: 68.75rem;
	margin: auto;
}
/*intro design end*/

.def{
	width: 55rem;
	padding: 0.625rem;
	border-radius: 6px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
/*definition class design end*/

h2{
	color: var(--primary-color);
	margin-bottom: var(--bottom-margin);
}
/*h2 design end*/

.name{
	color: var(--tertiary-color);
	font-weight: var(--bold-font);
	font-size: 44pt;
}
/*name class design end*/

.meaning{
	color: var(--secondary-color);
	font-weight: var(--bold-font);
	font-size: 38pt;
}
/*meaning class design end*/

.intro{
	color: var(--secondary-color);
	font-size: 14pt;
	line-height: var(--line-height);
	padding: 0.3rem 0;
}
/*intro class desing end*/

#about{
	padding-top: 8.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	max-width: 68.75rem;
	margin: auto;	
}
/*about design end*/

.bio{
	width: 55rem;
	padding: 00.625rem;
	border-radius: 6px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
/*bio design end*/

.about-me{
	color: var(--tertiary-color);
}
/*about me design end*/

.line1{
	border: 1px solid rgba(121, 117, 114,0.3);
	flex-direction: row;
	display: flex;
	width: 50%;
}
/*line 1 design end*/

.mypicture{
	border: 0px solid rgb(121, 117, 114);
	border-radius: 5px;
	height: 20.5rem;
	width: 20.5rem;
	float: right;
}
/*my picture design end*/

.mypicture:hover{
	box-shadow: 0 3px 5px rgb(148, 162, 97),
	0 6px 10px rgb(148, 162, 97);
	border-right: 4px solid var(--secondary-color);
	border-bottom: 4px solid var(--secondary-color);
}
/*my picture hover design end*/

.my-self{
	color: var(--secondary-color);
}
/*my self design end*/

.symbols{
	justify-content: space-evenly;
	padding: 1.25rem;
}
/*symbols design end*/

.row1, .row2{
	width: auto;
	padding: 1.25rem;
}

.framework1:hover{
	color: var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
}

.arrow1{
	color: var(--primary-color);
}/*End of arrow 1 design.*/
/*-----------------------------------------------------*/

.framework1{
	color: var(--secondary-color);
	margin: 10px;
}/*End of framework 1 design.*/
/*-----------------------------------------------------*/

#skills{
	margin-left: 500px;
	margin-top: 200px;	
}/*End of skills design.*/
/*-----------------------------------------------------*/

h3{
	color: rgb(148, 162, 97);
	font-size: 18pt;
}/*End of h3 element design.*/
/*-----------------------------------------------------*/

.my-skills{
	color: rgba(239, 216, 181, 0.8);/*wheat color.*/
}/*End of my skills desing.*/
/*-----------------------------------------------------*/

.line2{
	border: 1px solid rgba(121, 117, 114,0.3);
	flex-direction: row;
	display: flex;
	width: 40%;
}/*End of line desing.*/
/*-----------------------------------------------------*/

.align{
	position: center;
	margin-left: 22px;
}/*End of align desing.*/
/*-----------------------------------------------------*/

.icons-1{
	border: 0px solid rgba(148, 162, 97, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
	padding-top: 20px;
	text-align: center;
	position: center;
	float: left;
	margin: 34px;
}/*End of icons 1 design*/
/*-----------------------------------------------------*/

.icons-1:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.2),
	0px 15px 20px -5px rgba(148, 162, 97, 0.3), 
	0px 15px 20px -7px rgba(148, 162, 97, 0.3);
	background-color: rgba(121, 117, 114, 0.2);
}/*End of hover design.*/
/*-----------------------------------------------------*/

.icons-2{
	border: 0px solid rgba(148, 162, 97, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
	padding-top: 20px;
	text-align: center;
	position: center;
	float: left;
	margin: 34px;
}/*End of icons 2 design*/
/*-----------------------------------------------------*/

.icons-2:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.2),
	0px 15px 20px -5px rgba(148, 162, 97, 0.3), 
	0px 15px 20px -7px rgba(148, 162, 97, 0.3);
	background-color: rgba(121, 117, 114, 0.2);
}/*End of hover design.*/
/*-----------------------------------------------------*/

.desc{
	color: rgb(121, 117, 114);
	font-size: 14pt;
}/*End of description desgin.*/
/*-----------------------------------------------------*/

#work{
	margin-left: 260px;
	margin-top: 200px;	
}/*End of work id desing.*/
/*-----------------------------------------------------*/

h4{
	color: rgb(148, 162, 97);
	font-size: 18pt;
}/*End of h4 element design.*/
/*-----------------------------------------------------*/

.work{
	color: rgb(239, 216, 181);/*wheat color.*/
}/*End of work class design.*/
/*-----------------------------------------------------*/

.line3{
	border: 1px solid rgba(121, 117, 114,0.3);
	flex-direction: row;
	display: flex;
	width: 50%;
}/*End of line desing.*/
/*-----------------------------------------------------*/

.file{
	border: 0px solid rgba(148, 162, 97, 0.1);
	border-radius: 5px;
	padding: 5px 10px;
	text-align: justify;
	margin: 20px;
	float: left;
}/*End of file design.*/
/*-----------------------------------------------------*/

.file:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.2),
	0px 15px 20px -5px rgba(148, 162, 97, 0.3), 
	0px 15px 20px -7px rgba(148, 162, 97, 0.3);
	background-color: rgba(121, 117, 114, 0.2);
	cursor: pointer;
}/*End of hover design.*/
/*-----------------------------------------------------*/

.title{
	color: rgb(239, 216, 181);/*wheat color.*/
	font-size: 16pt;
}/*End of title design.*/
/*-----------------------------------------------------*/

.info{
	color: rgb(121, 117, 114);
	text-align: justify;
	white-space: nowrap;
	overflow: hidden;
}/*End of info design.*/
/*-----------------------------------------------------*/

#contact{
	margin-top: 200px;
}/*End of contact desing.*/
/*-----------------------------------------------------*/

h5{
	color: rgb(148, 162, 97);
	text-align: center;
	font-size: 16pt;
}/*End of h5 desing.*/
/*-----------------------------------------------------*/

.contact{
	padding: 10px;
}/*End of contact class desing.*/
/*-----------------------------------------------------*/

.opinion{
	color: rgb(239, 216, 181);/*wheat color.*/
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	letter-spacing: -1px;
}/*End of opinion design.*/
/*-----------------------------------------------------*/

.finale{
	color: rgb(121, 117, 114);
	text-align: center;
	
}/*End of finale design.*/
/*-----------------------------------------------------*/

.button{
	text-align: center;
	padding: 60px;
}/*end of button desing.*/
/*-----------------------------------------------------*/

.e-mail{
	border-radius: 5px;
	border: 2px solid rgb(148, 162, 97);
	text-decoration: none;
	color: rgb(148, 162, 97);
	text-align: center;
	font-size: 14pt;
	padding: 20px 20px;/*this line of code will extend the border.*/
}/*End of res design.*/
/*-----------------------------------------------------*/

.e-mail:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.5);
	background-color: rgba(121, 117, 114, 0.5);
	cursor: pointer;
}/*End of hover design.*/
/*-----------------------------------------------------*/

.social{
	writing-mode: vertical-rl;
	margin-left: 40px;
}/*End of social media design.*/
/*-----------------------------------------------------*/

.social-icons{
	text-decoration: none;
}/*End of social icons design.*/
/*-----------------------------------------------------*/

.social-icons:hover{
	color: rgb(148, 162, 97);
	cursor: pointer;
}/*End of social icons hover design.*/
/*-----------------------------------------------------*/

.social-icons:visit{
	color: rgb(148, 162, 97);
}/*End of social icons hover design.*/
/*-----------------------------------------------------*/

.copyright{
	color: rgb(121, 117, 114);
	text-align: center;
	margin-top: 100px;
}/*End of copyright design.*/
/*-----------------------------------------------------*/