@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/*Variables*/
:root{
	--font-family: "Roboto", sans-serf;
	--normal-font: 440;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: rgb(38, 74, 119);
	--primary-color: rgb(148, 162, 97);
	--secondary-color: rgb(121, 117, 114);
	--tertiary-color: rgb(239, 216, 181);
	--primary-shadow: rgb(148, 162, 97);
	--secondary-shadow: rgb(121, 117, 114);
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}
/*End of my variables.*/

html{
	scroll-behavior: smooth;
}
/*html end.*/

/*CSS reset.*/
#portfolio * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: var(--secondary-color);
}

a:hover{
	color: var(--primary-color);
}

body{
	font-family: var(--font-family);
	background-color: var(--bg-color);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
/*CSS reset end*/

nav{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 3.5rem;
	background-color: var(--bg-color);
	box-shadow: 0 3px 5px rgba(121, 117, 114, 0.1);
}
/*Navigation end.*/

h1{
	color: var(--primary-color);
	font-weight: var(--normal-font);
}
/*h1 design end*/

.logo{
	border-radius: 20px 10px;
	border: 2px solid var(--primary-color);
	font-size: 24pt;
	padding: 4px 8px;
	margin: 20px;
}
/*logo design end*/

.logo:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.5);
	background-color: rgba(121, 117, 114, 0.5);
	cursor: pointer;
}
/*logo hover design end*/

.letter{
	padding: 5px;
	color: var(--primary-color);
}
/*letter design end*/

.nav_numbers{
	color: var(--primary-color);
}
/*navigation number end*/

nav ul{
	display: flex;
	gap: 1.9rem;
}
/*navigation ul end*/

.nav_numbers ul li{
	font-weight: var(--bold-font);
}
/*navigation numbers end*/

.description{
	color: var(--secondary-color);
	transition: var(--transition);
}
/*description class end*/

.description:hover{
	color: var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
}
/*description hover end*/

.res{
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	color: var(--primary-shadow);
	text-align: center;
	font-size: 14pt;
	padding: 5px 20px;
}
/*resume design end*/

.res:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.5);
	background-color: rgba(121, 117, 114, 0.5);
}
/*resume design hover end*/

.acor-menu{
	color: var(--primary-color);
	font-size: 2rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: none;
}
/*acordion menu design end*/

.intro-info, .about-info,
 .skills-info, .work-projects{
	padding-top: 8.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	max-width: 68.75rem;
	margin: auto;
}
/*intro design end*/

.def{
	padding-right: 6.25rem;
}
/*class design end*/

h2{
	color: var(--primary-color);
	margin-bottom: var(--bottom-margin);
}
/*h2 design end*/

.name{
	color: var(--tertiary-color);
	font-weight: var(--bold-font);
	font-size: 44pt;
}
/*name class design end*/

.meaning{
	color: var(--secondary-color);
	font-weight: var(--bold-font);
	font-size: 38pt;
}
/*meaning class design end*/

.intro{
	text-align: justify;
	color: var(--secondary-color);
	font-size: 14pt;
	line-height: var(--line-height);
	padding: 0.3rem 0;
	width: 34.375rem;
}
/*intro class desing end*/

.about-me{
	color: var(--tertiary-color);
}
/*about me design end*/

.line1{
	border: 1px solid rgba(121, 117, 114,0.3);
	flex-direction: row;
	display: flex;
	width: 50%;
}
/*line 1 design end*/

.mypicture{
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	margin-left: 0.625rem;
	height: 18.5rem;
	width: 18.5rem;
}
/*my picture design end*/

.mypicture:hover{
	box-shadow: 0 3px 5px rgb(148, 162, 97),
	0 6px 10px rgb(148, 162, 97);
	border-right: 4px solid var(--secondary-color);
	border-bottom: 4px solid var(--secondary-color);
}
/*my picture hover design end*/

.bio{
	margin-left: 0.313rem;
}
/*bio design end*/

.my-self{
	color: var(--secondary-color);
	text-align: justify;
	width: 27.5rem;
}
/*my self design end*/

.row1, .row2{
	margin-left: 1.25rem;
}
/*row1 and 2 design end*/

.arrow1, .arrow2{
	color: var(--primary-color);
}
/*arrow 1 design end*/

.framework1, .framework2{
	color: var(--secondary-color);
	justify-content: space-evenly;
	text-align: justify;
	padding: 0.625rem;
	margin: 0.625rem;
}
/*framework 1 design end*/

.framework1:hover{
	color: var(--primary-color);
}
/*framework 1 design end*/

.abilities{
	max-width: 60rem;
	margin: auto;
	margin-top: 2.5rem;
}
/*abilities design end*/

h3{
	color: var(--primary-color);
	font-size: 18pt;
}
/*h3 desing end*/

.my-skills{
	color: var(--tertiary-color);
}
/*my skills desing end*/

.line2{
	border: 1px solid rgba(121, 117, 114,0.3);
	flex-direction: row;
	display: flex;
	width: 60%;
}
/*line 2 desing end*/

.align-wrapper{
	max-width: 68.75rem;
	margin: auto;
}
/*align wrapper design end */

.align-wrapper img{
	padding: 1.25rem;
	margin: 1.25rem;
}
/*align wrapper img design end*/

.prog{
	width: 3.125rem;
	height: 3.125rem;
}
/*prog design end*/

.language{
	box-shadow: 0 3px 10px var(--secondary-shadow);
	border-radius: 11px;
	padding: 1.25rem;
	margin: 0.625rem;
}
/*language desing end*/

.language:hover{
	box-shadow: 0 3px 5px rgb(148, 162, 97),
	0 6px 10px rgb(148, 162, 97);
	border-bottom: 6px solid var(--secondary-color);
}
/*language hover design end*/

.subjects{
	width: 62.5rem;
	padding: 0.625rem;
}
/*class design end*/

.subjects-wrapper{
	display: flex;
	padding: 1.25rem;
	margin: 1.25rem;
}
/*subjects wrapper design end*/

h4{
	color: var(--primary-color);
	font-size: 18pt;
}
/*h4 design end*/

.work{
	color: var(--tertiary-color);
}
/*work class design end*/

.line3{
	border: 1px solid rgba(121, 117, 114,0.3);
	flex-direction: row;
	display: flex;
	width: 50%;
}
/*line 3 design end*/

.file{
	border: 2px solid rgba(148, 162, 97, 0.1);
	border-radius: 11px;
	padding: 5px 10px;
	margin: 1.25rem;
}
/*file design end*/

.file:hover{
	box-shadow: 0 3px 5px rgb(148, 162, 97),
	0 6px 10px rgb(148, 162, 97);
	border-bottom: 8px solid var(--secondary-color);
	cursor: pointer;
}
/*file hover design end */

.title{
	color: var(--tertiary-color);
	font-size: 16pt;
}
/*title desing end*/

.info{
	color: var(--secondary-color);
	text-align: justify;
	width: 13.75rem;
}
/*info design end*/

.contact-info{
	padding-top: 8.75rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 68.75rem;
	margin: auto;
}
/*contact info design end*/

h5{
	color: var(--primary-color);
	text-align: center;
	font-size: 16pt;
}
/*h5 design end*/

.contact{
	padding: 10px;
}
/*contact design end*/

.opinion{
	color: var(--tertiary-color);
	text-align: center;
	font-size: 30pt;
	font-weight: var(--bold-font);
}
/*opinion design end*/

.finale{
	color: var(--secondary-color);
	text-align: center;
}
/*finale design end*/

.button{
	text-align: center;
	padding: 3.75rem;
}
/*button design end*/

.e-mail{
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	text-decoration: none;
	color: var(--primary-color);
	text-align: center;
	font-size: 14pt;
	padding: 20px 20px;
}
/*e-mail desing end*/

.e-mail:hover{
	box-shadow: 0 0 2px 2px rgba(148, 162, 97, 0.5);
	background-color: rgba(121, 117, 114, 0.5);
	cursor: pointer;
}
/*e-mail hover end*/

.social{
	flex-direction: column;
	display: flex;
	position: fixed;
	left: 1%;
	bottom: 30%;
	margin-left: 20px;
}
/*social design end*/

.social-icons{
	width: 2rem;
	height: 2rem;
}
/*social icons design end*/

.social-icons:hover{
	box-shadow: 0 3px 5px rgb(148, 162, 97),
	0 6px 10px rgb(148, 162, 97);
	border-radius: 5%;
	border-bottom: 2px solid var(--secondary-color);
	cursor: pointer;
}
/*social icons hover design end*/

.social-icons:visit{
	color: rgb(148, 162, 97);
}
/*social icons visit design end*/

.scroll-up{
	position: fixed;
	right: 0.5%;
	bottom: 6%;
	cursor: pointer;
	margin-right: 20px;
}
/*scroll up design end*/

.up-arrow{
	width: 3rem;
	height: 3rem;
}
/*up arrow design end*/

.up-arrow:hover{
	box-shadow: 0 3px 5px rgb(148, 162, 97),
	0 6px 10px rgb(148, 162, 97);
	border-radius: 50%;
	border-bottom: 2px solid var(--secondary-color);
}
.copyright{
	color: rgb(121, 117, 114);
	text-align: center;
	margin-top: 100px;
}
/*copyroght desing end*/

/*@media for responsive tablets and mobile 720px*/
@media  screen and (max-width: 720px){
	nav{
		padding: 1.5rem 1rem;
	}

	nav ul{
		position: fixed;
		background-color: rgba(38, 74, 119, 0.2);
		flex-direction: column;
		top: 86px;
		left: -14%;
		width: 80%;
		text-align: center;
		transform: translateX(120%);
		transition: transform 0.5s ease-in;
	}

	nav ul il{
		margin: 8px;
	}

	.acor-menu{
		display: block;
	}

	nav ul.show{
		transform: translateX(0);
	}

	.intro-info{
		padding-top: 8rem;
		flex-direction: column;
		gap: 0;
	}

	.about-info{
		flex-direction: column;
		gap: 0;
	}

	.skills-info{
		padding-top: 8rem;
	}

	.subjects h4{
		margin-left: 800px;
	}
	.subjects-wrapper{
		flex-direction: column;
	}

	.subject-wrap{
		margin-left: 10px;
		margin-right: 10px;
	}

}

/*@media for responsive tablets and mobile 420px*/
@media  screen and (max-width: 420px) {
	.def{
		padding-top: 2.5rem;
		margin-left: 80px;
		margin-right: 80px;
		width: 20.5rem;
	}

	.intro{
		text-align: justify;
		width: 20.5rem;
	}

	.mypicture{
		margin-left: 60px;
		margin-right: 60px;
		height: 16.5rem;
		width: 16.5rem;
	}
	
	.bio{
		margin-left: 10px;
		width: 20.5rem;
	}

	.skills-info{
		padding-top: 5rem;
	}

	.language{
		height: 1.25rem;
		width: 1.25rem;
	}

	.work-projects{
		padding-top: 8rem;
	}

	.subjects{
		padding-top: 2.5rem;
		margin-left: 80px;
		margin-right: 80px;
	}

	.subjects h4{
		margin: 40px;
	}

	.subject-wrap{
		width: 18.75rem;
	}

	.contatto{
		padding-top: 2.5rem;
		margin-left: 60px;
		margin-right: 60px;
	}

}