@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

/*Variables*/
:root{
    --font-family: "Orbitron", sans-serif;
    --bg-color: rgba(49, 108, 166, 0.5);
    --normal-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
    --bold-font: 700;
}
/*Variables end.*/

html{
    scroll-behavior: smooth;
}
/*html desing end.*/

/*CSS reset.*/
*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background-image: linear-gradient(rgba(207, 207, 199, 0.2), rgba(207, 207, 199, 0.4)),
    url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
/*CSS reset end.*/

.header{
    background-color: var(--bg-color);
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
    padding: 5px;
}
/*header design end.*/

.cmd{
    font-size: 30pt;
}
/*cmd design end.*/

.description{
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*description design end.*/

.intro{
    text-align: center;
    margin: 40px;
}

.info{
    margin-left: 320px;
    margin-right: 320px;
    font-size: 20pt;
}
/*info desgin end*/

.command1{
    width: 100%;
}
/*command 1 design end.*/

h2{
    text-align: center;
    font-size: 20pt;
}
/*h2 design end.*/

.win_text{
    text-align: center;
    font-size: 15pt;
}
/*windows text design end.*/
.clear{
    display: flex;
    justify-content: center;
}
/*clear design end.*/

.ipconfig{
    background-color: rgba(118, 123, 140, 0.3);
    box-shadow: 0 4px 8px 0 rgb(118, 123, 140),
    0 6px 20px 0 rgb(118, 123, 140);
    padding: 30px;
    margin: 0 20px 0 20px;
    margin-top: 40px;
    float: left;
}
/*ipconfig design end.*/

.win_title{
    font-size: 14pt;
}
/*win title design end.*/

#ipconfig{
    width: 560px;
    height: auto;
}
/*img design end.*/

.ifconfig{
    background-color: rgba(215, 207, 188, 0.3);
    box-shadow: 0 4px 8px 0 rgb(215, 207, 188),
    0 6px 20px 0 rgb(215, 207, 188);
    padding: 30px;
    margin: 0 20px 0 20px;
    margin-top: 40px;
    float: left;
}
/*ifconfig design end.*/

.mac_title{
    font-size: 14pt;
}
/*mac title design end.*/

#ifconfig{
    width: 560px;
    height: auto;
}
/*img design end.*/

.clear::after{
    content: "";
    clear: both;
    display: table;
}
/*clear desgin end.*/