@import url('https://fonts.googleapis.com/css?family=Dosis|Lato');

/*Variables.*/
:root{
    --font-family: "Dosis", sans-serif;
    --font-family-2: "Lato", sans-serif;
    --primary-color: rgb(114, 176, 164);
    --secondary-color: rgb(249, 190, 8);
    --light-font: 300;
    --normal-font: 400;
    --bold-font: 600;
    --bold-font-2: 700;
    --bolder-font: 800;
    --bolder-font-2: 900;
    --line-height: normal;
    --transition: 0.3s;
}
/*variables end.*/

html{
    scroll-behavior: smooth;
}
/*html design end*/

/*CSS reset.*/
*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background-image: url(images/white-wall-rough-background.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
/*CSS reset end*/

/*The beginning of header.*/
.header{
    font-family: var(--font-family);
    text-align: center;
    font-size: 40px;
}
/*header design end*/

.header-text{
    margin-top: 10px;
}
/*header test design end*/

/*The beginning of intro.*/
.intro{
    max-width: 100%;
    text-align: justify;
    margin-left: 80px;
    margin-bottom: 80px;
    display: grid;
}
/*intro design end*/

.intro-text{
    font-family: var(--font-family-2);
    font-size: 40px;
}
/*intro text design end*/

.meaning{
    max-width: 45%;
}
/*meaning design end*/

/*The beginning of ubuntu.*/
.ubuntu{
    justify-content: center;
    max-width: 100%;
    display: grid;
    margin: auto;
}
/*ubuntu design end*/

.uno{
    position: absolute;
    color: var(--primary-color);
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-top: 40px;
    margin-left: 120px;
    height: 5%;
}
/*uno design end*/

.image1{
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0),
    0 6px 20px 0 rgb(0, 0, 0);
}
/*image 1 design end*/

.text1{
    color: var(--primary-color);
    position: absolute;
    text-align: center;
    margin-left: 320px;
    margin-right: 320px;
    font-size: 14pt;
    margin-top: 44%;
    width: 60%;
}
/*text 1 design end*/

/*The beginning of typography.*/
.typography{
    justify-content: center;
    max-width: 100%;
    display: grid;
    margin: auto;
}
/*typography design end*/

.duo{
    writing-mode: vertical-rl;
    position: absolute;
    
}



/*The beginning of poster.*/




/*The beginning of helvetica.*/