@import url('https://fonts.googleapis.com/css?family=Dosis|Lato');

/*Variables.*/
:root{
    --font-family: "Dosis", sans-serif;
    --font-family-2: "Lato", sans-serif;
    --primary-color: rgb(114, 176, 164);
    --secondary-color: rgb(249, 190, 8);
    --light-font: 300;
    --normal-font: 400;
    --bold-font: 600;
    --bold-font-2: 700;
    --bolder-font: 800;
    --bolder-font-2: 900;
    --line-height: normal;
    --transition: 0.3s;
}
/*variables end.*/

html{
    scroll-behavior: smooth;
}
/*html design end*/

/*CSS reset.*/
*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
/*CSS reset end*/

/*The beginning of header.*/
.header{
    font-family: var(--font-family);
    text-align: center;
    font-size: 40px;
}
/*header design end*/

.header-text{
    margin-top: 10px;
}
/*header test design end*/

/*The beginning of intro.*/
.intro{
    margin-bottom: 80px;
}
/*intro design end*/

.intro-1{
    text-align: justify;
    margin-left: 80px;
}
/*intro 1 design end*/

.intro-text{
    font-family: var(--font-family-2);
    font-size: 40px;
}
/*intro text design end*/

.meaning{
    width: 55%;
}
/*meaning design end*/

/*The beginning of ubuntu.*/
.ubuntu{
    margin-bottom: 80px;
}
/*ubuntu design end*/

.section1{
    justify-content: center;
    max-width: 100%;
    position: relative;
    display: flex;
    margin: auto;
}
/*section 1 design end*/

.image1{
    max-width: 100%;
    height: auto;
    margin: auto;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0),
    0 6px 20px 0 rgb(0, 0, 0);
}
/*image 1 design end*/

.uno{
    color: var(--primary-color);
    font-size: var(--normal-font);
    writing-mode: vertical-lr;
    text-orientation: upright;
    transform: skewY(18deg);
    position: absolute;
    top: 6%;
    left: 26%;
    height: 60%;
}
/*uno design end*/

.text1{
    color: var(--primary-color);
    text-align: center;
    position: absolute;
    top: 76%;
    margin-left: 320px;
    margin-right: 320px;
    width: 40%;
}
/*text 1 design end*/

/*The beginning of typography.*/
.typography{
    margin-bottom: 80px;
}
/*typography design end*/

.section2{
    position: relative;
    justify-content: center;
    max-width: 100%;
    display: flex;
    margin: auto;
}
/*section 2 design end*/

.image2{
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0),
    0 6px 20px 0 rgb(0, 0, 0);
    margin: auto;
}
/*image 2 design end*/

.duo{
    color: rgb(245, 69, 69);
    writing-mode: vertical-rl;
    position: absolute;
    top: 40px;
    right: 26%;
}
/*duo design end*/

.text2{
    color: rgb(245, 69, 69);
    position: absolute;
    text-align: center;
    left: 28%;
    bottom: 5px;
    width: 22%;
}
/*text 2 design end*/

/*The beginning of poster.*/
.poster{
    margin-bottom: 80px;
}
/*poster design end*/

.section3{
    position: relative;
    justify-content: center;
    max-width: 100%;
    display: flex;
    margin: auto;
}
/*section 3 desing end*/

.image3{
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0),
    0 6px 20px 0 rgb(0, 0, 0);
    margin: auto;
}
/*image 3 design end*/

.tre{
    position: absolute;
    color: rgb(255, 193, 14);
    transform: rotate(-10deg);
    left: 26.5%;
    top: 0.4%;
}
/*tre design end*/

.text3{
    color: rgb(255, 193, 14);
    position: absolute;
    text-align: center;
    font-size: var(--normal-font);
    top: 84%;
    width: 40%;
}
/*text 3 design end*/

/*The beginning of helvetica.*/
.helvetica{
    margin-bottom: 80px;
}
/*helvetica design end*/

.section4{
    position: relative;
    justify-content: center;
    max-width: 100%;
    display: flex;
    margin: auto;
}
/*section 4 design end*/

.image4{
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0),
    0 6px 20px 0 rgb(0, 0, 0);
    margin: auto;
}
/*image 4 design end*/

.quattro{
    position: absolute;
    color: #F9F8F4;
    top: 20px;
    left: 28%;
}
/*quattro design end*/

.text4{
    color: #F9F8F4;
    position: absolute;
    text-align: center;
    margin-left: 460px;
    margin-right: 460px;
    font-size: 14pt;
    margin-top: 30.8%;
    width: 48%;
}
/*text 4 design end*/

.outro{
    text-align: center;
    margin: auto;
    font-size: 18pt;
}
/*outro design end*/

/*media 810px*/
@media only screen and (max-width: 810px){
    .meaning{
        width: 75%;
    }

    .uno{
        top: 10%;
        left: 5%;
        font-size: var(--normal-font);
    }

    .text1{
        font-size: small;
        top: 76%;
        width: 50%;
    }

    .duo{
        right: 6%;
        top: 10%;
        font-size: var(--normal-font);
    }

    .text2{
        left: 10%;
        font-size: small;
        width: 40%;
    }

    .tre{
        top: 2%;
        left: 7%;
        font-size: var(--normal-font);
    }

    .text3{
        top: 84%;
        width: 78%;
    }

    .quattro{
        top: 2%;
        left: 8%;
        font-size: var(--normal-font);
    }

    .text4{
        font-size: small;
        top: 40%;
    }
}

/*media 480px for iPhones small devices.*/
@media only screen and (max-width: 480px){
    .uno{
        left: 2%;
        font-size: small;
    }

    .text1{
        top: 70%;
        width: 410px;
        font-size: small;
    }

    .duo{
        right: 0.2%;
    }

    .text2{
        left: 4%;
        width: 210px;
    }

    .tre{
        top: -0.10%;
        left: 2%;
    }

    .text3{
        top: 40%;
        font-size: small;
        border-radius: 12px;
        width: 410px;
        transform: rotate(-10deg);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .quattro{
        font-size: small;
        top: 86%;
        left: 4%;
    }

    .text4{
        top: -36%;
        font-size: small;
        width: 90%;
    }
}

/*media 420px*/
@media only screen and (max-width: 420px) {
    .uno{
        top: -5%;
        left: 2%;
        font-size: small;
        height: 70%;
        transform: scale(85%, 60%);
    }

    .text1{
        top: 60%;
        width: 94%;
        font-size: smaller;
    }

    .duo{
        top: 5%;
        right: 0.2%;
        font-size: small;
        transform: scale(86%, 78%);
    }

    .text2{
        left: 4%;
        top: 30%;
        font-size: small;
        width: 50%;
    }

    .tre{
        top: 0.1%;
        left: 2%;
        font-size: small;
        transform: rotate(-10deg);
    }

    .text3{
        top: 30%;
        color: white;
        font-size: small;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.3);
        width: 90%;
        transform: rotate(-10deg);
    }

    .quattro{
        font-size: small;
        top: 86%;
        left: 4%;
    }

    .text4{
        top: -40%;
        font-size: small;
        width: 90%;
    }
}