@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/*Variables.*/
:root{
    --font-family: "Dosis", sans-serif;
    --font-family: "Lato", sans-serif;
    --normal-font: 400;
    --bold-font: 600;
    --bold-font-2: 700;
    --bolder-font: 800;
    --bolder-font-2: 900;
    --line-height: normal;
    --transition: 0.3s;
}
/*variables end.*/

html{
    scroll-behavior: smooth;
}
/*html design end*/

/*CSS reset.*/
*{
    box-sizing: border-box;
}

body{
    
}
/*CSS reset end*